<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Time Ease Target" sequenceNumber="82">
<locations>
<location path="${project_loc}/spring" type="Directory"/>
<location path="${project_loc}/delta.pack/eclipse" type="Directory"/>
<location path="${project_loc}/eclipseLink" type="Directory"/>
<location path="${project_loc}/extras" type="Directory"/>
<location path="${project_loc}/blueprint" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="4.2.2.v20130129-152330-7IARAABrMQkGSvMgQnUlz-DQz00h"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.2.2.v20130129-152330-7IARAABrMQkGSvMgQnUlz-DQz00h"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20121212-203907-7M7fA78g4_y-gDvtH0ZcFvhMPDZJ"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wb.swt.feature.feature.group" version="1.5.2.r42x201302112017"/>
<unit id="org.eclipse.wb.core.feature.feature.group" version="1.5.2.r42x201302111859"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
</locations>
</target>
