<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/32.png">
         <run
               class="com.monstersoftwarellc.timeease.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.monstersoftwarellc.timeease.Perspective"
            id="com.monstersoftwarellc.timeease.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.monstersoftwarellc.timeease.view.EntriesView"
            icon="icons/32.png"
            id="com.monstersoftwarellc.timeease.view.entries"
            name="%view.name"
            restorable="true">
      </view>
      <view
            class="com.monstersoftwarellc.timeease.view.ApplicationSettingsView"
            icon="icons/48/123.png"
            id="com.monstersoftwarellc.timeease.view.ApplicationSettingsView"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            class="com.monstersoftwarellc.timeease.view.ReportABugEnhancementView"
            icon="icons/48/73.png"
            id="com.monstersoftwarellc.timeease.views.ReportABugEnhancementView"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            class="com.monstersoftwarellc.timeease.view.TasksView"
            icon="icons/48/1.png"
            id="com.monstersoftwarellc.timeease.view.TasksView"
            name="Task Management"
            restorable="true">
      </view>
      <view
            class="com.monstersoftwarellc.timeease.view.ProjectsView"
            icon="icons/48/122.png"
            id="com.monstersoftwarellc.timeease.view.ProjectsView"
            name="Project Management"
            restorable="true">
      </view>
      <view
            class="com.monstersoftwarellc.timeease.view.ClientsView"
            icon="icons/48/47.png"
            id="com.monstersoftwarellc.timeease.view.ClientsView"
            name="Client Management"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.monstersoftwarellc.timeease.application"
            name="Time Ease Time Tracker">
         <property
               name="aboutImage"
               value="icons/250.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="windowImages"
               value="icons/16.png,icons/32.png,icons/48.png,icons/64.png,icons/128.png">
         </property>
         <property
               name="appName"
               value="Time Ease Time Tracker">
         </property>
         <property
               name="preferenceCustomization"
               value="preferences.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.description"
            id="com.monstersoftwarellc.timeease.commands"
            name="%category.name">
      </category>
      <command
            categoryId="com.monstersoftwarellc.timeease.commands"
            defaultHandler="com.monstersoftwarellc.timeease.commands.ReportABugEnhancementCommand"
            description="%command.description.3"
            id="com.monstersoftwarellc.timeease.commands.ReportABugEnhancementCommand"
            name="%command.name.3">
      </command>
      <command
            categoryId="com.monstersoftwarellc.timeease.commands"
            defaultHandler="org.eclipse.ui.internal.handlers.ShowPreferencePageHandler"
            description="%command.description.5"
            id="com.monstersoftwarellc.timeease.preferences.keys"
            name="%command.name.5">
      </command>
      <command
            categoryId="com.monstersoftwarellc.timeease.commands"
            defaultHandler="com.monstersoftwarellc.timeease.commands.ApplicationSettingsCommand"
            id="com.monstersoftwarellc.timeease.commands.ApplicationSettingsCommand"
            name="%command.name.6">
      </command>
      <command
            categoryId="com.monstersoftwarellc.timeease.commands"
            defaultHandler="com.monstersoftwarellc.timeease.commands.EntriesCommand"
            id="com.monstersoftwarellc.timeease.commands.EntriesCommand"
            name="%view.name">
      </command>
      <command
            categoryId="com.monstersoftwarellc.timeease.commands"
            defaultHandler="com.monstersoftwarellc.timeease.commands.TasksCommand"
            id="com.monstersoftwarellc.timeease.commands.TasksCommand"
            name="Task Management">
      </command>
      <command
            categoryId="com.monstersoftwarellc.timeease.commands"
            defaultHandler="com.monstersoftwarellc.timeease.commands.ProjectsCommand"
            id="com.monstersoftwarellc.timeease.commands.ProjectsCommand"
            name="Project Management">
      </command>
      <command
            categoryId="com.monstersoftwarellc.timeease.commands"
            defaultHandler="com.monstersoftwarellc.timeease.commands.ClientsCommand"
            id="com.monstersoftwarellc.timeease.commands.ClientsCommand"
            name="Client Management">
      </command>
      <command
            categoryId="com.monstersoftwarellc.timeease.commands"
            id="com.monstersoftwarellc.timeease.commands.ClockInCommand"
            name="Clock In">
      </command>
      <command
            categoryId="com.monstersoftwarellc.timeease.commands"
            id="com.monstersoftwarellc.timeease.commands.ClockOutCommand"
            name="Clock Out">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.monstersoftwarellc.timeease.commands.ClockingCommandState">
         <variable
               name="com.monstersoftwarellc.timeease.commands.ClockingCommandState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.monstersoftwarellc.timeease.commands.ClockInCommand">
         <activeWhen>
            <with
                  variable="com.monstersoftwarellc.timeease.commands.ClockingCommandState">
               <or>
                  <equals
                        value="false">
                  </equals>
               </or>
            </with>
         </activeWhen>
         <class
               class="com.monstersoftwarellc.timeease.commands.ClockInCommand">
         </class>
      </handler>
      <handler
            commandId="com.monstersoftwarellc.timeease.commands.ClockOutCommand">
         <activeWhen>
            <with
                  variable="com.monstersoftwarellc.timeease.commands.ClockingCommandState">
               <or>
                  <equals
                        value="true">
                  </equals>
               </or>
            </with>
         </activeWhen>
         <class
               class="com.monstersoftwarellc.timeease.commands.ClockOutCommand">
         </class>
      </handler>
	</extension> 
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="%menu.label">
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.ApplicationSettingsCommand"
                  icon="icons/48/123.png"
                  label="%command.label"
                  style="push">
            </command>
            <separator
                  name="exitSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/48/118.png"
                  label="%command.label.1"
                  style="push">
            </command>
         </menu>
         <menu
               label="Management">
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.EntriesCommand"
                  icon="icons/32.png"
                  label="%view.name"
                  style="push">
            </command>
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.ClientsCommand"
                  icon="icons/48/47.png"
                  label="Client Management"
                  style="push">
            </command>
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.ProjectsCommand"
                  icon="icons/48/122.png"
                  label="Project Management"
                  style="push">
            </command>
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.TasksCommand"
                  icon="icons/48/1.png"
                  label="Task Management"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.label.1">
            <command
                  commandId="org.eclipse.ui.help.displayHelp"
                  icon="icons/48/67.png"
                  label="%command.label.4"
                  style="push">
            </command>
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.ReportABugEnhancementCommand"
                  helpContextId="Send issue or enhancement to Time Ease."
                  icon="icons/48/73.png"
                  label="%command.label.5"
                  style="push">
            </command>
            <separator
                  name="aboutSeparator">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/48/65.png"
                  label="%command.label.6"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="TimeEase.toolbar1"
               label="%toolbar.label">
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.EntriesCommand"
                  icon="icons/48.png"
                  label="Entry Management"
                  style="push">
            </command>
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.ClockInCommand"
                  icon="icons/48/50.png"
                  label="Clock In"
                  style="push">
            </command>
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.ClockOutCommand"
                  icon="icons/48/51.png"
                  label="Clock Out"
                  style="push">
            </command>
            <separator
                  name="timeRelatedSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.ClientsCommand"
                  icon="icons/48/47.png"
                  label="Client Management"
                  style="push">
            </command>
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.ProjectsCommand"
                  icon="icons/48/122.png"
                  label="Project Management"
                  style="push">
            </command>
            <command
                  commandId="com.monstersoftwarellc.timeease.commands.TasksCommand"
                  icon="icons/48/1.png"
                  label="Task Management"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Q">
      </key>
      <key
            commandId="org.eclipse.ui.help.aboutAction"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F1">
      </key>
      <scheme
            description="%scheme.description"
            id="com.monstersoftwarellc.timeease.keyConfig"
            name="%scheme.name">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.ExtensionFactory:keysPreferencePage"
            id="com.monstersoftwarellc.timeease.preferences.keys"
            name="%page.name.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocIntegrations.xml">
      </toc>
   </extension>
   <extension
         id="com.monstersoftwarellc.timeease.security.TimeEaseLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="com.monstersoftwarellc.timeease.security.TimeEaseLoginModule"
            description="%loginModule.description">
      </loginModule>
   </extension>
   <extension
         id="com.monstersoftwarellc.timeease.security.LoginCallbackHandler"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="com.monstersoftwarellc.timeease.security.LoginCallbackHandler">
      </callbackHandler>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="com.monstersoftwarellc.timeease.security.LoginCallbackHandler"
            configName="JAAS">
      </callbackHandlerMapping>
   </extension>

</plugin>
